header {
	margin: 0;
	padding-left: 25px;
	height: 70px;
	background-color: #535566;
	color: white;
	font-size: 30px;
	font-weight: bold;
	line-height: 70px;
}

a {
	text-decoration: none;
}

#box {
	font-weight: bold;
	color: white;
	font-size: 20px;
	padding-left: 25px;
	margin-top: 10px;
	padding: 10px;
	height: 40px;
	line-height: 40px;
	background-color: #c8cdea;
}