name: 'Java Testing'
#push에 실행
#pull_request에 실행 

on:
  push: 
    branches: [main]
  pull_request:
    branches: [main]


#빌드, 테스팅
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up openJDK 11
        uses: actions/setup-java@v1
        with:
          java-version: '11.0.2'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew build

      - name: Slack Alarm
        uses: 8398a7/action-slack@v3
        with:
          status: ${{ job.status }}
          fields: repo,message,commit,author,action,eventName,ref,workflow,job,took # selectable (default: repo,message)
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }} # required
          if: always() # Pick up events even if the job fails or is canceled.


  test_report:
    needs: build
    name: Test & Report
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
        
      - name: Set up Junit 
        uses: mikepenz/action-junit-report@v2
        if: ${{ always() }}
        with:
          report_paths: '**/build/test-results/test/TEST-*.xml'
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Deploy Test Report
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: build/reports/tests/test
          destination_dir: junit


      - name: Run Checkstyle
        run: ./gradlew checkstyleMain checkstyleTest --stacktrace

      - name: Checkstyle Report
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: build/reports/checkstyle
          destination_dir: checkstyle

      - name: Run PMD
        run: ./gradlew pmdMain pmdTest

      - name: PMD Report
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: build/reports/pmd
          destination_dir: pmd

      - name: Run Spotbugs
        run: ./gradlew spotbugsMain spotbugsTest --stacktrace

      - name: Spotbugs Report
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: build/reports/spotbugs
          destination_dir: spotbugs
          
      - name: Jacoco setup
        run: ./gradlew test -x jacocoTestReport    
          
      - name: Code Coverage Report
        run: ./gradlew jacocoTestReport jacocoTestCoverageVerification

      - name: Deploy Code Coverage Report
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: build/reports/jacoco/test/html
          destination_dir: jacoco


      - name: SonnarScanner
        run: ./gradlew sonarqube
